/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700|Mallanna|EB+Garamond);

/* Font styles */
* {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    text-shadow: 0 0 0;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    color: white;
    font-size: 7vh;
    margin-left: 1vw;
}

h2, h3, h4, h5, label {
    font-family: 'Mallana', sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    font-size: 10vw;
}

h3 {
    padding-top: 20vh;
    font-size: 9vw;
    border-bottom: 1px solid #ECDFBD;
}

h4, label {
    font-size: 8vw;
}

h5 {
    font-size: 7vw;
    color: #5e3448
}

p {
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    margin-top: 4vh;
    color: #ECDFBD;
}

a, a:visited, a:hover {
    text-decoration: none;
    text-shadow: 0 0 0;
    color: #ECDFBD;
}

strong {
    font-weight: 700;
    color: #ECDFBD;
}

label {
    color: #ECDFBD;
}