/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700|Mallanna|EB+Garamond);

/* Font styles */
* {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: black;
    text-shadow: 0;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    color: white;
}

h2, h3, h4, h5 {
    font-family: 'Mallana', sans-serif;
    font-weight: 400;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
}

h1 {
    font-size: 11vw;
    margin-left: 2vw;
}

h2 {
    font-size: 10vw;
}

h3 {
    padding-top: 20vh;
    font-size: 9vw;
}

h4 {
    font-size: 8vw;
}

h5 {
    font-size: 7vw;
}

p, li {
    font-size: 6vw;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
    margin-top: 2vh;
}

a {
    text-decoration: none;
    font-size: 5vw;
    color: black;
}

strong {
    font-weight: 700;
}