/* Materialogue CSS */
body {
    display: block;
}

video {
        display: none;
    }

/* sections */
section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: transparent;
    z-index: 100;
}

/* logo floater */
#logo {
    position: fixed;
    left: 0;
    top: 90vh;
    color: lightgrey;
    background-color: transparent;
    opacity: 1;
    transition: top 0.5s ease, color 0.75s ease, opacity 0.75s ease;
    z-index: 2000;
    overflow: hidden;
}

#logo.top {
    top: 0;
    color: #ECDFBD;
    background-color: transparent;
    opacity: 0.3;
}

/* menu burger */
#menu-burger {
    position: fixed;
    right: -10vh;
    top: 0;
    width: 8vh;
    height: 8vh;
    color: #ECDFBD;
    z-index: 2000;
    transition: right 0.75s ease;
    -webkit-transition: right 0.75s ease;
}

#menu-burger h1 {
    margin: 0;
    font-size: 11vh;
    text-align: center;
    transition: transform 0.75s ease;
    -webkit-transition: -webkit-transform 0.75s ease;
}

#menu-burger.visible {
    right: 2vh;
}

#menu-burger.active h1 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* menu */
#menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 80vw;
    height: 100vh;
    background-color: #20457d;
    transition: left 0.75s ease, opacity 0.75s ease;
    z-index: 1000;
    opacity: 1;
}

#menu.margin {
    left: 100vw;
}

#menu.active {
    left: 41.67vw;
    opacity: 0.75;
}

#menu ul {
    padding-top: 16.67vh;
    width: 100%;
}

#menu li, #menu a {
    display: block;
    color: #ECDFBD;
    font-size: 11vmin;
    width: 100%;
    padding-left: 6vw;
}

#menu a:hover {
    opacity: 1;
    color: #5e3448;
}

#menu li.viewing, #menu li.viewing a {
    background-color: #ECDFBD;
    color: #5e3448;
    opacity: 1;
}

/* title page */

video {
    display: none;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

#cover-vid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#cover-page {
    background: url(../img/vid/match.png) no-repeat center center fixed;
    background-size: cover;
    background-color: #3b3a35;
    z-index: 0;
}

#cover-page h2 {
    position: relative;
    margin-top: 16.67vh;
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    text-align: center;
    color: #ECDFBD;
    opacity: 0.6;
    border-bottom: 1px solid #ECDFBD;
}

/* about */
#about {
    position: relative;
    background-color: #fb6648;
}

/* biography */
#biog {
    position: relative;
    background-color: #5e3448;
}

#biog h3 {
    padding-bottom: 4vh;
    border: 0px solid transparent;
}

.bio-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 200;
}

.bio-img img {
    height: 100%;
}

.bio-img h5 {
    position: absolute;
    left: 0%;
    top: 75%;
    width: 100%;
    margin-left: 0;
    color: #5e3448;
    opacity: 1;
}

.bio-img a, .bio-img a:visited, .bio-img a:hover {
    color: #5e3448;
    text-align: left;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

.bio-img span {
    background-color: white;
    opacity: 0.5;
}

/* newsletter sign-up */
#newsletter-signup {
    position: relative;
    background-color: #fb6648;
}

#mc_embed_signup {
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    margin-top: 8.3vh;
    padding-bottom: 8.33vh;
}

#mc_embed_signup div.ui-input-btn {
    width: 75%;
    background-color: #ECDFBD;
    color: #fb6648;
    border: 0 solid transparent;
    border-radius: 0;
    text-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0 0;
}

#mc_embed_signup div.ui-input-btn:hover {
    background-color: #fb6648;
    color: #ECDFBD;
    border: 1px solid #ECDFBD;
}

#mc_embed_signup div.indicates-required {
    font-family: 'EB Garamond', serif;
    color: #ECDFBD;
}

.asterisk {
    font-family: 'EB Garamond', serif;
    color: #ECDFBD;
}

#mc_embed_signup input, #mc_embed_signup div.ui-input-text, #mc_embed_signup.ui-input-text input, #mc_embed_signup textarea {
    background-color : transparent; 
    border: 0 solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #ECDFBD;
    text-shadow: transparent 0 0 0;
    font-family: 'EB Garamond', serif;
    color: #ECDFBD;
    outline: none;
    outline-color: transparent;
    box-shadow: transparent 0 0 0 0;
}

#mc_embed_signup div.mce_inline_error {
    background-color : #fb6648; 
}

