/* Materialogue CSS */

/* sections */
section {
    min-height: 100vh;
}

/* logo floater */
#logo {
    position: fixed;
    left: 0;
    top: 80vh;
    color: lightgrey;
    background-color: transparent;
    transition: top 0.5s ease, color 0.5s ease;
    z-index: 2000;
    overflow: hidden;
}

#logo.top {
    top: 0;
    color: white;
    background-color: transparent;
}

#logo.active {
    left: -80vw;
}

/* menu burger */
#menu-burger {
    position: fixed;
    right: -10vw;
    top: 0;
    width: 10vw;
    height: 10vw;
    color: white;
    z-index: 2000;
    transition: right 0.5s ease;
}

#menu-burger h1 {
    text-align: center;
    transition: transform 0.5s ease;
}

#menu-burger.visible {
    right: 0;
}

#menu-burger.active h1 {
    transform: rotate(90deg);
}

/* menu */
#menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 80vw;
    height: 100vh;
    background-color: steelblue;
    transition: left 1.5s ease;
    z-index: 1000;
}

#menu.active {
    left: 20vw;
}

#menu ul {
    padding-top: 24vh;
}

#menu li {
    display: block;
    color: white;
    font-size: 11vmin;
}

/* title page */

#cover-page {
    background: url(../img/cover-image2.gif) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    z-index: 200;
}

#cover-page h2 {
    padding-top: 16.67vh;
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    text-align: center;
    color: lightgrey;
    z-index: 300;
}

/* about */
#about {
    background-color: lightsteelblue;
}

/* biography */
#biog {
    background-color: lightgray;
}

.bio-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bio-img img {
    height: 100%;
    opacity: 0.5;
    align-content: center;
}

.bio-img h5 {
    position: absolute;
    left: 0%;
    top: 75%;
    width: 100%;
    z-index: 100;
}

.bio-img span {
    background-color: white;
    opacity: 0.5;
}

/* newsletter sign-up */
#newsletter-signup {
    background-color: lightsteelblue;
}