/* Materialogue CSS */

video {
        display: none;
    }

/* sections */
section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: transparent;
    z-index: 100;
}

/* logo floater */
#logo {
    position: fixed;
    left: 0;
    top: 90vh;
    color: lightgrey;
    background-color: transparent;
    transition: top 0.5s ease, color 0.5s ease;
    z-index: 2000;
    overflow: hidden;
}

#logo.top {
    top: 0;
    color: white;
    background-color: transparent;
}

/* menu burger */
#menu-burger {
    position: fixed;
    right: -10vh;
    top: 0;
    width: 8vh;
    height: 8vh;
    color: white;
    z-index: 2000;
    transition: right 1.5s ease;
    -webkit-transition: right 1.5s ease;
}

#menu-burger h1 {
    margin: 0;
    font-size: 11vh;
    text-align: center;
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 1.5s ease;
}

#menu-burger.visible {
    right: 2vh;
}

#menu-burger.active h1 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* menu */
#menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 80vw;
    height: 100vh;
    background-color: steelblue;
    transition: left 1.5s ease;
    z-index: 1000;
}

#menu.active {
    left: 20vw;
}

#menu ul {
    padding-top: 16.67vh;
}

#menu li, #menu a {
    display: block;
    color: white;
    font-size: 11vmin;
}

/* title page */

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

#cover-vid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
}

#cover-page {
    /*background: url(../img/cover-image2.gif) no-repeat center center fixed;
    background-size: cover;*/
    z-index: 0;
}

#cover-page h2 {
    position: relative;
    margin-top: 16.67vh;
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    text-align: center;
    color: white;
    opacity: 0.3;
}

/* about */
#about {
    position: relative;
    background-color: lightsteelblue;
}

/* biography */
#biog {
    position: relative;
    background-color: lightgray;
}

.bio-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 0;
    overflow: hidden;
    z-index: 200;
}

.bio-img img {
    height: 100%;
}

.bio-img h5 {
    position: absolute;
    left: 0%;
    top: 75%;
    width: 100%;
    margin-left: 0;
}

.bio-img a, .bio-img a:visited, .bio-img a:hover {
    color: black;
    text-align: left;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

.bio-img span {
    background-color: white;
    opacity: 0.5;
}

/* newsletter sign-up */
#newsletter-signup {
    position: relative;
    background-color: lightsteelblue;
}

#mc_embed_signup {
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    margin-top: 8.3vh;
    padding-bottom: 8.33vh;
}

#mc_embed_signup .clear {
    margin-left: 12.5%;
    width: 75%;
}