@media only screen and (min-width: 600px) {
    video {
        display: none;
    }
    
    h3 {
        font-size: 5vw;
    }
    
    h5 {
        font-size: 3vw;
    }
    
    p {
        margin-left: 16.67vw;
        margin-right: 25vw;
        font-size: 2vw;
    }
    
    h3 + p:first-letter {
        font-size: 4vw;
    }
    
    a {
        font-size: 3vw;
    }
    
    #menu.margin {
        left: 94vw;
    }
    
    /*#menu.margin:hover { 
        left: 50vw;
        opacity: 0.75;
    }*/
    
    #menu.active {
        left: 50vw;
        opacity: 0.75;
    }

    #menu-burger {
        width: 8vh;
        height: 8vh;
    }
    
    #cover-page img {
        display: none;
    }
    
    .bio-img {
        width: 47vw;
        margin: 0;
        padding: 0;
    }
    
    .bio-img img {
        padding-left: 0;
    }
    
    .bio-img h5 {
        position: absolute;
        bottom: 0%;
    }
    
    .mc-field-group {
        margin: 2%;
        width: 45%;
        float: left;
    }
    
    #mc_embed_signup .clear {
        margin-left: 37.5%;
        width: 25%;
    }
}