@media only screen and (min-width: 600px) {
    video {
        display: block;
    }
    
    h3 {
        font-size: 5vw;
    }
    
    h5 {
        font-size: 3vw;
    }
    
    p {
        margin-left: 16.67vw;
        font-size: 3vw;
    }
    
    a {
        font-size: 3vw;
    }
    
    .bio-img {
        width: 35vw;
        height: 35vw;
        margin-left: 8.3vw;
    }
    
    .bio-img img {
        padding-left: 0;
    }
    
    .bio-img h5 {
        position: absolute;
        bottom: 0%;
    }
    
    .mc-field-group {
        margin: 2%;
        width: 45%;
        float: left;
    }
    
    #mc_embed_signup .clear {
        margin-left: 37.5%;
        width: 25%;
    }
}